<div class="container">


    <div id="customerDetails" *ngIf="customerDetailsView"> 
      <div class="col-md-4 text-center"> 
        <img src="https://scontent.fkul14-1.fna.fbcdn.net/v/t1.0-9/20840653_1637389762952039_4790377540531302771_n.jpg?_nc_cat=0&oh=9eae7f6e24d9c155e24a4d2c7ddb6ae0&oe=5BC520AB" 
        alt="User" class="img-circle img-responsive"  style="width:128px;height:128px;display: block;margin-left: auto;margin-right: auto"><br>
       
      
            Name<br>
            <h2>{{ customer.name }}</h2><br>
            ID <br>
            <h2>{{ customer.id }} </h2> <br>
            Balance <br>
            <h2>RM {{ customer.balance }} </h2><br>
       
        
            <button type="button" class="btn btn-primary btn-lg" (click)="purchase()">Purchase</button> 
            <button type="button" class="btn btn-success btn-lg" (click)="topUp()">Top Up</button>
      </div>
    </div>

    <div id="topUp" *ngIf="topUpView"> 
        <div class="col-md-4 text-center"> 
        <h2>Top Up Amount </h2><br><br><br>
        <input type="number" name="topUpAmount" ng-model="topUpValue"><br><br><br>    
        <button type="button" class="btn btn-primary btn-lg" (click)="topUpRestCall()">Top up</button>
        <button type="button" class="btn btn-danger btn-lg" (click)="cancelTopUpView()">Cancel</button>
        </div>
        {{topUpValue}}
    </div>

    <div id="purchase" *ngIf="purchaseView"> 
        <div class="col-md-4 text-center">
       <h2>Purchase Amount </h2><br> <br><br>
        <input type="number" name="purchaseAmount"><br><br><br>
        <button type="button" class="btn btn-primary btn-lg">Purchase</button>
        <button type="button" class="btn btn-danger btn-lg"(click)="cancelPurchaseView()">Cancel</button>
        </div>
    </div>

</div>


